################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPattern/DesignPattern_Facade/.vs
*.sqlite
/.vs
/DesignPattern-.Net/bin/Debug/netcoreapp3.1
/DesignPattern-.Net/obj/Debug/netcoreapp3.1
/DesignPattern-.Net/obj
/FacadeTest/bin/Debug/netcoreapp3.1
/FacadeTest/obj/Debug/netcoreapp3.1
/FacadeTest/obj
